h1 {
    color: #EE4C7C;
    text-align: center;
    background-color: seashell;
}
h2, nav {
    color: grey;
    text-align: center;
    background-color: seashell;
}
body {
    text-align: center;
    background-color: seashell;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3 {
    color: white;
    font-size: 2em;
}
article {
    color: white;
    border: 1px solid #5D001E;
    background-color: #5D001E;
    font-size: 1em;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 10px;
}
#pageTitle {
    color: crimson;
    font-size: 4em;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.font-big {
    font-size: 1.5em
}